* {
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    color: #667EEA;
    font-style: italic;
}

.calculator{
    height: 510px;
    width: 407px;
    margin: 50px auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 560px;
    overflow: hidden;
    background-color: #383838;
    border:4px solid rgb(50,50,50);
}
    


#display {
    background-color: #b2b9b7;
    font-size:50px;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin:0px auto;
    text-align:end;
    margin-bottom: 15px;
    height: 100px;
    margin-top: 15px;
    width:380px;
    margin-left: 10px;
}


.buttons{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
}


.button {
    margin: 1px;
    border-radius: 5%;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;
    width:90px;
    height:80px;
    margin-bottom: 2px;
}

#zero {
    width: 185px;
    background-color: #217C7E;
}

#plus {
    background-color: #FF8F1F;    
}

#minus {
    background-color: #FF8F1F;    
}

#multiply {
    background-color: #FF8F1F;    
}

#divide {
    background-color: #FF8F1F;    
}

#equalto {
    background-color: #FF8F1F;    
}

#one {
    background-color: #217C7E;
}

#two {
    background-color: #217C7E;
}

#three {
    background-color: #217C7E;
}

#four {
    background-color: #217C7E;
}

#five {
    background-color: #217C7E;
}

#six {
    background-color: #217C7E;
}

#seven {
    background-color: #217C7E;
}

#eight {
    background-color: #217C7E;
}

#nine {
    background-color: #217C7E;
}

#decimal {
    background-color: #217C7E;
}

#AC {
    background-color: dodgerblue;
}

#plusminus {
    background-color: dodgerblue;
}

#percent {
    background-color: dodgerblue;
}
